/* Created by: MariaG
* Created on: April 13, 2022
* This CSS file defines the style for index.html
* ICS2O-Unit3-03-HTML-VolumeSphere
*/

body {
  width: 80%;
  margin: 5% 10%;
  font-family: Arial, "Arial Narrow", sans-serif;
}

img {
  width: 10%;
}

h1 {
  font-family: "Arial Narrow", Arial, sans-serif;
  background-color: #542b89;
  color: white;
  padding: 20px;
  text-align: center;
}

#blue {
  background-color: #daf4fa;
  padding: 20px;
  text-align: center;
}

p {
  width: 80%;
  margin-left: 10%;
}

form {
  width: 80%;
  margin-left: 10%;
}

h3 {
  width: 80%;
  margin-left: 10%;
}

#pink {
  background-color: #fde9fb;
  padding: 20px;
  margin-top: 30px;
}

#yellow {
  background-color: #fcfda2;
  font-weight: bold;
  padding: 20px;
  color: #315a2d;
  margin-top: 30px;
}

#results {
  margin-left: 10%;
}
